<div id="<%= dom_id flash_card_set %>">
  <p>
    <strong>User mail:</strong>
    <%= flash_card_set.user_mail %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= flash_card_set.name %>
  </p>

  <p>
    <strong>Flashcards:</strong>
    <%= flash_card_set.flashcards %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= flash_card_set.length %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= flash_card_set.favorite %>
  </p>

</div>
